
body {
  background-color: rgb(0, 0, 0);
}

#board {
  width: 900px;
  height: 500px;
  border: 1px solid white;
  background-color: rgb(53, 53, 53);
  position: auto;
}

#walker {
  background-color: rgb(215, 215, 11);
  width: 50px;
  height: 50px;
  border-radius: 5px;
  position: absolute;
/*   left: 100px; */  /* Uncomment if you want to set a "starting" position */
/*   top: 100px;  */  /* Uncomment if you want to set a "starting" position */
}
