.square {
  width: 11px;
  height: 11px;
  position: absolute;
}

body > div {
  position: relative;
}

#button-box {
  position: relative;
  top: 410px;
}

button {
  width: 120px;
  padding: 5px;
  margin-left: 60px;
}

#apply {
  background: green;
}

#reset {
  background: red;
}
