
body {
  background-color: darkblue; /* green != good */
}

#board {
  width: 440px;
  height: 440px;
  border: 1px solid white;
  background-color: black;
  position: relative;
}

#ball {
  background-color: white;
  width: 15px;
  height: 15px;
  position: absolute;
  left: 220px; 
  top: 220px;
  border-radius: 2px
}

.paddle {
  background-color: white;
  width: 20px;
  height: 90px;
  position: absolute;
  top: 220px;
  border-radius: 2px;
}

#paddleRight {
  left: 405px;
}
#paddleLeft {
  left: 15px;
}

.scorekeeper {
  /* Positioning */
  width: 30px;
  height: 30px;
  position: absolute;
  left: 120px;
  top: 25px;
  border-radius: 4px;
  /* Number centering */
  display: flex;
  justify-content: center;
  align-items: center;
  /* Color and size */
  color: white;
  font-size: 30px;
}

p {
  font-family: 'Press Start 2P'; /* That pixelated font */
};

#scoreLeft{
  left: 150px;
}
#scoreRight{
  left: 300px;
}